@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Poppins:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*Обнуление*/
body {
  background-color: #000;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal; }
  body .container {
    width: 1193px;
    margin: 0 auto;
    padding: 0 10px; }
  body .wrapper-body {
    position: relative;
    overflow-x: hidden; }
    body .wrapper-body .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: fixed;
      z-index: 99;
      left: 0;
      top: 0;
      width: 30%;
      height: 100vh;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: #000;
      -webkit-transition: 0.7s;
      -o-transition: 0.7s;
      transition: 0.7s;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%); }
      @media (max-width: 991px) {
        body .wrapper-body .menu {
          width: 50%; } }
      @media (max-width: 767px) {
        body .wrapper-body .menu {
          width: 80%; } }
      @media (max-width: 575px) {
        body .wrapper-body .menu {
          width: 90%; } }
      body .wrapper-body .menu .menu-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 60%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        body .wrapper-body .menu .menu-list a {
          color: #fff;
          font-family: Merienda;
          font-size: 24px;
          line-height: 9px;
          letter-spacing: 5px; }
          body .wrapper-body .menu .menu-list a:hover {
            text-decoration: underline;
            color: #e2b024; }
    body .wrapper-body .menu_active {
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%); }
    body .wrapper-body .header {
      position: fixed;
      z-index: 999;
      background-color: #000;
      top: 0;
      width: 100%;
      padding-top: 12px; }
      body .wrapper-body .header .header-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        body .wrapper-body .header .header-inner .header__text {
          color: #fff;
          font-family: Poppins;
          font-size: 12px;
          line-height: 18px; }
        body .wrapper-body .header .header-inner .header__nav {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          body .wrapper-body .header .header-inner .header__nav .header__logo {
            margin-right: 100px; }
          body .wrapper-body .header .header-inner .header__nav .header__list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
            body .wrapper-body .header .header-inner .header__nav .header__list a {
              margin-right: 46px;
              font-family: Poppins;
              color: #fff;
              font-size: 12px;
              line-height: 18px; }
              body .wrapper-body .header .header-inner .header__nav .header__list a:hover {
                color: #e2b024; }
          body .wrapper-body .header .header-inner .header__nav .header__icons {
            margin-left: -46px; }
            body .wrapper-body .header .header-inner .header__nav .header__icons a img {
              margin-left: 36px; }
    body .wrapper-body .subheader {
      margin-top: 100px; }
    body .wrapper-body .subheader__nav {
      border: 1px solid #fff;
      border-right: none;
      border-left: none;
      background-color: #000; }
      body .wrapper-body .subheader__nav .subheader__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 10px 0; }
        body .wrapper-body .subheader__nav .subheader__list a {
          color: #fff;
          font-family: Merienda;
          font-size: 24px;
          line-height: 9px; }
          body .wrapper-body .subheader__nav .subheader__list a:hover {
            text-decoration: underline;
            color: #e2b024; }
    body .wrapper-body .fullpage__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      body .wrapper-body .fullpage__wrapper .fullpage__top-title {
        font-family: Merienda;
        font-size: 30px;
        line-height: 14px;
        color: #fff;
        margin-top: 150px;
        text-align: center; }
      body .wrapper-body .fullpage__wrapper .fullpage__title {
        margin-top: 40px;
        font-family: Merienda;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        font-size: 90px;
        line-height: 56px;
        letter-spacing: 10px; }
        body .wrapper-body .fullpage__wrapper .fullpage__title span {
          color: #e2b024; }
      body .wrapper-body .fullpage__wrapper .fullpage__text {
        margin-top: 24px;
        font-family: Poppins;
        color: #fff;
        text-align: center;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px; }
      body .wrapper-body .fullpage__wrapper .fullpage-link {
        margin-top: 35px; }
        body .wrapper-body .fullpage__wrapper .fullpage-link .fullpage__link {
          font-family: Merienda;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 9px;
          color: #e2b024;
          letter-spacing: 5px; }
          body .wrapper-body .fullpage__wrapper .fullpage-link .fullpage__link:hover {
            text-decoration: underline; }
  body .futured_products {
    background-color: #18191a; }
    body .futured_products .products__title {
      padding-top: 150px;
      text-align: center;
      font-family: Merienda;
      font-size: 60px;
      color: #fff; }
      body .futured_products .products__title span {
        color: #e2b024; }
    body .futured_products .sorting {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-top: 70px;
      font-size: 24px;
      text-transform: uppercase; }
      body .futured_products .sorting a {
        margin-left: 70px;
        color: #fff; }
        body .futured_products .sorting a:first-child {
          margin-left: 0; }
        body .futured_products .sorting a:hover {
          color: #e2b024;
          text-decoration: underline; }
  body .products__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 100px; }
    body .products__row .product__cart {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 250px;
      height: 500px; }
      body .products__row .product__cart .product__cart-img {
        text-align: center;
        margin-top: -15px; }
      body .products__row .product__cart .product__cart-sale {
        top: 0;
        left: 0;
        padding: 10px;
        background-color: #e2b024;
        width: 80px;
        text-align: center; }
      body .products__row .product__cart .product__cart-name {
        text-align: center;
        font-family: Merienda;
        font-size: 24px; }
        body .products__row .product__cart .product__cart-name a {
          color: #fff; }
          body .products__row .product__cart .product__cart-name a:hover {
            text-decoration: underline; }
      body .products__row .product__cart .product__cart-price {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 15px;
        margin-bottom: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #e2b024; }
        body .products__row .product__cart .product__cart-price .product__cart-old-price {
          font-size: 16px;
          text-decoration: line-through;
          margin-right: 5px; }
        body .products__row .product__cart .product__cart-price .product__cart-new-price {
          font-size: 24px; }
  body .product__cart-button {
    margin-top: 75px;
    padding-bottom: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    body .product__cart-button a {
      color: #e2b024;
      font-family: Merienda;
      font-size: 18px;
      text-decoration: underline; }
      body .product__cart-button a span {
        text-transform: uppercase; }
  body .slider {
    background: url("../img/review1.png") 100% 100%/cover no-repeat, url("../img/review.png") 100% 100%/cover no-repeat; }
    body .slider__title {
      padding-top: 100px;
      text-align: center;
      font-family: Merienda;
      font-size: 55px;
      color: #fff; }
      body .slider__title span {
        color: #e2b024; }
    body .slider__inner {
      padding-top: 60px; }
      body .slider__inner .slider__item-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      body .slider__inner .slider__item-subtitle {
        padding-top: 30px;
        font-family: Poppins;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        text-align: center; }
      body .slider__inner .slider__item-text {
        padding-top: 30px;
        font-family: Poppins;
        color: #fff;
        font-size: 16px;
        line-height: 1.4;
        text-align: center;
        opacity: 0.7; }
      body .slider__inner .slick-dots {
        position: static;
        padding-top: 30px;
        padding-bottom: 110px; }
      body .slider__inner .slick-dots li button {
        background-color: #fff;
        border-radius: 50%; }
      body .slider__inner .slick-dots li.slick-active button {
        background-color: #e2b024; }
      body .slider__inner .slick-dots li button:before {
        display: none; }
