@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Poppins:wght@300;400;600;700&display=swap");

@import "null.scss";

body {
  background-color: #000;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  //CONTAINER============================================
  .container {
    width: 1193px;
    margin: 0 auto;
    padding: 0 10px;
  }

  //HEADER=================================
  .wrapper-body {
    position: relative;
    overflow-x: hidden;
    .menu {
      display: flex;
      position: fixed;
      z-index: 99;
      left: 0;
      top: 0;
      width: 30%;
      height: 100vh;
      align-items: center;
      justify-content: center;
      background-color: #000;
      transition: 0.7s;
      transform: translateX(-100%);
      @media (max-width: 991px) {
        width: 50%;
      }
      @media (max-width: 767px) {
        width: 80%;
      }
      @media (max-width: 575px) {
        width: 90%;
      }
      .menu-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60%;
        flex-direction: column;

        a {
          color: #fff;
          font-family: Merienda;
          font-size: 24px;
          line-height: 9px;
          letter-spacing: 5px;
          &:hover {
            text-decoration: underline;
            color: #e2b024;
          }
        }
      }
    }
    .menu_active {
      transform: translateX(0%);
    }

    .header {
      position: fixed;
      z-index: 999;
      background-color: #000;
      top: 0;
      width: 100%;
      padding-top: 12px;
      .header-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header__text {
          color: #fff;
          font-family: Poppins;
          font-size: 12px;
          line-height: 18px;
        }

        .header__nav {
          display: flex;
          align-items: center;
          .header__logo {
            margin-right: 100px;
          }
          .header__list {
            display: flex;
            a {
              margin-right: 46px;
              font-family: Poppins;
              color: #fff;
              font-size: 12px;
              line-height: 18px;
              &:hover {
                color: #e2b024;
              }
            }
          }
          .header__icons {
            margin-left: -46px;
            a img {
              margin-left: 36px;
            }
          }
        }
      }
    }

    //SUBHEADER=================================
    .subheader {
      margin-top: 100px;
    }
    .subheader__nav {
      border: 1px solid #fff;
      border-right: none;
      border-left: none;
      background-color: #000;

      .subheader__list {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        a {
          color: #fff;
          font-family: Merienda;
          font-size: 24px;
          line-height: 9px;
          &:hover {
            text-decoration: underline;
            color: #e2b024;
          }
        }
      }
    }

    //FULLPAGE==============================================

    .fullpage__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      .fullpage__top-title {
        font-family: Merienda;
        font-size: 30px;
        line-height: 14px;
        color: #fff;
        margin-top: 150px;
        text-align: center;
      }
      .fullpage__title {
        margin-top: 40px;
        font-family: Merienda;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        font-size: 90px;
        line-height: 56px;
        letter-spacing: 10px;
        span {
          color: #e2b024;
        }
      }
      .fullpage__text {
        margin-top: 24px;
        font-family: Poppins;
        color: #fff;
        text-align: center;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
      }
      .fullpage-link {
        margin-top: 35px;
        .fullpage__link {
          font-family: Merienda;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 9px;
          color: #e2b024;
          letter-spacing: 5px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .futured_products {
    background-color: #18191a;
    .products__title {
      padding-top: 150px;
      text-align: center;
      font-family: Merienda;
      font-size: 60px;
      color: #fff;
      span {
        color: #e2b024;
      }
    }
    .sorting {
      display: flex;
      justify-content: center;
      padding-top: 70px;
      font-size: 24px;
      text-transform: uppercase;

      a {
        margin-left: 70px;
        color: #fff;
        &:first-child {
          margin-left: 0;
        }
        &:hover {
          color: #e2b024;
          text-decoration: underline;
        }
      }
    }
  }
  .products__row {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    .product__cart {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 250px;
      height: 500px;
      .product__cart-img {
        text-align: center;
        margin-top: -15px;
      }
      .product__cart-sale {
        top: 0;
        left: 0;
        padding: 10px;
        background-color: #e2b024;
        width: 80px;
        text-align: center;
      }
      .product__cart-name {
        text-align: center;
        font-family: Merienda;
        font-size: 24px;

        a {
          color: #fff;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .product__cart-price {
        align-items: center;
        padding-top: 15px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        color: #e2b024;
        .product__cart-old-price {
          font-size: 16px;
          text-decoration: line-through;
          margin-right: 5px;
        }
        .product__cart-new-price {
          font-size: 24px;
        }
      }
    }
  }
  .product__cart-button {
    margin-top: 75px;
    padding-bottom: 160px;
    display: flex;
    justify-content: center;
    a {
      color: #e2b024;
      font-family: Merienda;
      font-size: 18px;
      text-decoration: underline;
      span {
        text-transform: uppercase;
      }
    }
  }

  //SLIDER=============================================
  .slider {
    background: url("../img/review1.png") 100% 100% / cover no-repeat,
      url("../img/review.png") 100% 100% / cover no-repeat;
    &__title {
      padding-top: 100px;
      text-align: center;
      font-family: Merienda;
      font-size: 55px;
      color: #fff;
      span {
        color: #e2b024;
      }
    }
    &__inner {
      padding-top: 60px;

      .slider__item {
        &-img {
          display: flex;
          justify-content: center;
        }
        &-subtitle {
          padding-top: 30px;
          font-family: Poppins;
          color: #fff;
          font-size: 24px;
          font-weight: bold;
          text-align: center;
        }
        &-text {
          padding-top: 30px;
          font-family: Poppins;
          color: #fff;
          font-size: 16px;
          line-height: 1.4;
          text-align: center;
          opacity: 0.7;
        }
      }
      .slick-dots {
        position: static;
        padding-top: 30px;
        padding-bottom: 110px;
      }
      .slick-dots li button {
        background-color: #fff;
        border-radius: 50%;
      }
      .slick-dots li.slick-active button {
        background-color: #e2b024;
      }
      .slick-dots li button:before {
        display: none;
      }
    }
  }
}
